.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#layout-container{
  height: 100vh;
  margin-top: 56px;
}
#main-navbar{
  display: flex;
  justify-content: space-between;
}
.align-items{
  text-align: center;
}
.content_area{
  height: 100vh;
}

/*** Corousel CSS Starts ****/
.carousel-container {
  position: relative;
  max-width: 710px;
  margin: auto;
}
.buttonBack {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.buttonNext {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}


.dotGroup {
  text-align: center;
}
.flavourObj{
  text-align:center;
  max-width: 120px;
  margin: auto;
}
.flavourImg {
  padding: 20px;
  border: 1px solid grey;
  margin-right: 20px;
}
.flavourObj p{
  border: 1px solid grey;
}
.flavourObj p {
  border: 1px solid grey;
  margin-right: 20px;
  margin-top: 20px;
}
/*** Corousel CSS Ends ****/

/** LOADER CSS Starts **/
.spinnerImg{
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8
}

.spinnerImg img{
  max-width:240px;
}
/** LOADER CSS Ends **/
.detailedColumn{
  border: 1px solid grey;
}
.detailedColumn .content{
  padding: 5px;
}
.detailedData{
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 15px;
}
.alignItems{
  text-align: right;
}
form .alignItems{
  text-align: center;
}
form h4{
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px;
}
.addFormflavours{
  display: flex;
  width: 100%;
  justify-content: space-between;
}